version: 2
updates:
    - package-ecosystem: github-actions
      directory: /
      schedule:
          interval: cron
          cronjob: "0 0 * * 5"
      groups:
          updates-major:
              update-types:
                  - major
              patterns:
                  - "*"
          updates-minor:
              update-types:
                  - minor
              patterns:
                  - "*"
          updates-patch:
              update-types:
                  - patch
              patterns:
                  - "*"
    - package-ecosystem: npm
      directory: /
      schedule:
          interval: cron
          cronjob: "0 0 * * 5"
      groups:
          updates-major:
              update-types:
                  - major
              patterns:
                  - "*"
          updates-minor:
              update-types:
                  - minor
              patterns:
                  - "*"
          updates-patch:
              update-types:
                  - patch
              patterns:
                  - "*"
